.container {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  position: relative;
}

.container.checked {
  border-color: #1374e2;
}

.tick {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #1374e2;
  width: 16px;
  height: 16px;
}
